/*@import'bootstrap.min.css';
@import'all.min.css';*/
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.chocolate-title{
    font-size: 15px;
    line-height: 1.2;
}
.chocolate-title strong {
    font-weight: bold!important;
    color: black;
    line-height: 2.8;
}
.chocolate_price_all{
    font-size: 20px;
    font-weight: bold;
}
.chocolate-box-details .details .title strong{
    color: #50456D;
}
.chocolate-box-details .title-and-description .title{
    color:#CE8D8D; 
}
.chocolate-box-details .quantity .title strong{
    color: #BD9371;
}
button.add-to-cart{
    background-color: #50456D;
    border-color: #50456D;
    color: white;
}
button.add-to-cart:focus{
    box-shadow: 0 0 0 0.2rem rgba(73, 52, 105, 0.25);
}
button.add-to-cart:hover ,  button.add-to-cart:active{
    background-color: #50456D!important ;
    border-color: #50456D!important ;
    box-shadow: 0 0 0 0.2rem rgba(73, 52, 105, 0.25);
}




/* start choclate for boxes */
.chocolate-for-box .chocolate-item{
    cursor: pointer;
    position: relative;
}
.chocolate-for-box .chocolate-item input[type=checkbox]{
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.chocolate-for-box .chocolate-item .counter{
    margin-top: -20px;
}
.chocolate-for-box .chocolate-item .counter input{
    padding: 0;
    width: 15%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#50456D;
    border: none;
    background-color: transparent;
}
.chocolate-for-box .chocolate-item .counter input:focus{
    outline: none;
    box-shadow: none;
    font-weight: bold;
}
.chocolate-for-box .chocolate-item .counter button{
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #F4EBD3;
    border: #F4EBD3;
    color: #BD9371;
}
.chocolate-for-box .chocolate-item .counter button:focus{
    background-color: #F4EBD3!important;
    border: #F4EBD3!important;
    box-shadow: 0 0 0 0.2rem #F4EBD39c!important;
    outline: #F4EBD37c!important;
}
.chocolate-for-box .chocolate-item .counter button:active{
    background-color: #F4EBD3!important;
    border: #F4EBD3!important;
    box-shadow: 0 0 0 0.2rem #F4EBD39c!important;
    outline: #F4EBD37c!important;
}

.box-counter .counter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.box-counter .counter input{
    width: 59.44px;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:#F4EBD3;
    border: none;
    color:#50456D;
    line-height: 0;
    padding: 0;
    padding-bottom: 13px;
}
.box-counter .counter input:focus{
    outline: none;
    box-shadow: none;
}
.box-counter .counter button{
    width: 59.44px;
    height: 59.44px;
    background-color: #F4EBD3;
    border: #F4EBD3;
    color: #BD9371;
    font-size: 29px;
    font-weight: bold;

}
.box-counter .counter button:focus , .box-counter .counter button:active{
    background-color: #F4EBD3!important;
    border: #F4EBD3!important;
    box-shadow: 0 0 0 0.2rem #F4EBD39c!important;
    outline: #F4EBD37c!important;
}
/* chocolate choosen */
.chocolate-choosen{
    top:0;
}
/* .chocolate-choosen .chocolate-choosen-item{
    margin-bottom:50px;
}
.chocolate-choosen .chocolate-choosen-item.col-12:first-of-type{
    margin-bottom:0;
} */
.chocolate-choosen .chocolate-choosen-row{
    margin: auto;
    align-items: center;
    justify-content: center;
}
#show-box-btn,#show-box-btn:focus,#show-box-btn:hover,#show-box-btn:active{
    right:28px;
    bottom: 16px;
    left:unset;
    background-color: #F4EBD3!important;
    border: #F4EBD3!important;
    box-shadow: 0 0 0 0.2rem #F4EBD39c!important;
    outline: #F4EBD37c!important;
    color: #BD9371;
    font-weight: bold;
    font-size: 24px;
    display: none;
    width:50px;
    height:50px;
}

@media (min-width:1441px){
    .chocolate-choosen-container{
        margin-top: 2rem!important;
    }
}
@media (min-width:768px) and (max-width:1440px){
    .chocolate-choosen-container{
        margin-top: 1rem!important;
    }
}
@media (min-width:768px){
    .chocolate-for-box{
        margin-left: 3rem!important;
        margin-right: 3rem!important;
    }
    .chocolate-item:first-of-type,.chocolate-item:nth-of-type(2),.chocolate-item:nth-of-type(3){
        padding-top: 0!important;
    }
    .chocolate-item{
        padding-top: 70px!important;
    }
}
@media (max-width:768px){
    .chocolate-for-box{
        margin:0!important;
    }
}
@media (min-width:425px){
    .chocolate-item:first-of-type,.chocolate-item:nth-of-type(2){
        padding-top: 0!important;
    }
    .chocolate-item{
        padding-top: 70px!important;
    }
}
@media (max-width:375px){
    .chocolate-choosen{
        padding: 1.2rem 1.5rem!important;
    }
    .chocolate-for-box{
        margin: 0;
    }
    .chocolate-item:first-of-type{
        padding-top: 0!important;
    }
    .chocolate-item{
        padding-top: 70px!important;
    }
}
@media (max-width:375px){
    .chocolate-for-box div.chocolate-item{
        flex: 0 0 100%;
        max-width: 100%;
        
    }
}
@media (max-width:320px){
    .box-counter .counter button{
        height: 47.44px!important;
        line-height: 1!important;
        padding-bottom: 16px!important;
        
    }
    .box-counter .counter button.dexrease{
        padding: 5px 16.5px;
        
    }
    .box-counter .counter input {
        width: 60.44px!important;
        font-size: 32px!important;
        padding-bottom: 6px!important;
    }
}
