body {
  font-family: "Neue Helvetica W01", "serif";
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* start customize option */
@font-face {
  font-family: arabicFont;
  src: url("../../library/arabic font/decotype-thuluth-ii.ttf");

}
 /* start Price */
h1.customize-chocolate-price {
    color: #bd9371;
    font-size: 24px;
}
/* end Price */
/* all */
div.customize-title {
  border: none;
  border-bottom: 3px solid white;
  padding: 14px;
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.3);
  /* border-radius: 28px !important; */
}
div.customize-title h4 {
  color: #bd9371;
  font-size: 22px;
}
div.customize-title h4[aria-expanded="false"]:after {
  content: "+";
  float: right;
  padding-right: 1rem;
  font-size: 23px;
  /* font-weight: bold; */
}
div.customize-title h4[aria-expanded="true"]:after {
  content: "-";
  float: right;
  padding-right: 1rem;
  font-size: 23px;
  /* font-weight: bold; */
}
/* content type and fillings and wrappings */
img.choco-bg {
  position: relative;
}
svg.choco-content {
  position: absolute;
  top: 0;
  left: 0;
}
.content-type-item,
.fillings-item,
.wrappings-item,
.drawing-item,
.color-item,
.text-color-item,
.text-type-item {
  position: relative;
}
.drawing-item {
  float: left;
  height: 85px;
}
.text-type-item{
  width: 375px;
  height: 150px;
}
.text-type-item img , .drawing-item img{
  width: 90%;
  height: 90%;
}
.content-type-item input,
.fillings-item input,
.wrappings-item input,
.drawing-item input,
.color-item input,
.text-color-item input,
.text-type-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}
.content-type-active:before,
.fillings-active:before,
.wrappings-active:before,
.drawing-active:before,
.checked:before,
.text-color-active:before ,
.text-type-active:before {
  height: 7px;
  width: 15px;
  border-bottom: rgb(255, 255, 255) solid 3px;
  border-left: rgb(255, 251, 251) solid 3px;
  content: "";
  display: block;
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  -ms-transform: rotateZ(-40deg);
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 1;
}
.content-type-active:after,
.fillings-active:after,
.wrappings-active:after,
.drawing-active:after,
.checked:after, 
.text-color-active:after,
.text-type-active:after {
  content: "";
  background-color: #4b436073;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
}
.type-options {
  overflow: hidden;
}
/* .type-options .input-group {
  width: 50%;
  position: relative;
} */
/* .type-options .input-group input {
  border-radius: 0 19px 19px 0 !important;
}
.type-options .input-group a {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 17%;
  border: none;
  background: rgb(189, 147, 113);
  color: rgb(255 255 255) !important;
  border-radius: 0 19px 19px 0;
  z-index: 20;
  text-align: center;
  line-height: 2.3;
  cursor: pointer;
} */

ul.drawing-filter-list {
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
  padding-left: 0;
}
li.filter-drawing-list-item {
  float: left;
  padding: 0;
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid rgb(189 147 113);
  margin-top: 14px;
  margin-left: 10px;
  border-radius: 19px;
  line-height: 2;
  padding-left: 12px;
}
li.filter-drawing-list-item span {
  display: inline-block;
  background: rgb(189 147 113);
  padding: 1px;
  width: 52px;
  height: 100%;
  text-align: center;
  color: rgb(255 255 255);
  border-radius: 0 19px 19px 0;
  position: relative;
  margin-left: 10px;
}
li.filter-drawing-list-item span:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(189 147 113);
  left: -4px;
  top: 11px;
  transform: rotate(45deg);
}

div.filter-drawing-description {
  padding-top: 0;
  padding-left: 10px;
}
li.filter-drawing-list-item[aria-expanded="true"] {
  color: rgb(189 147 113);
  border-bottom-color: rgb(189 147 113);
  opacity: 1;
}
li.filter-drawing-list-item:hover {
  opacity: 1;
}

div#filter-drawing {
  max-height: 205px;
  overflow: auto;
}
/* content Type  */
#content-type-view {
  position: relative;
}
#content-type-view .customize-shape-item-content-view {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 78px;
  left: 89px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
  text-shadow: -2px 2px 2px black, 1px 2px 1px black;
  background-size: contain;
  background-blend-mode: multiply;
  z-index: 1;
  background-repeat: no-repeat;
  /* border: 1px solid #ccc; */
}
#content-type-view .customize-shape-item-content-view textarea {
  resize: both;
  overflow: hidden;
  background-color: rgb(0 0 0 / 0%);
  max-height: 131px;
  max-width: 122px;
  outline: none;
  border: 3px dotted rgb(204 204 204 / 78%);
  padding: 10px;
  text-shadow: -1px 1px 1px black, 0px 1px 1px white;
  color: rgb(255 165 0);
  font-weight: bold;
  font-family: arabicFont;
  text-align: center;
}
#content-type-view .customize-shape-item-content-view svg,
#content-type-view .customize-shape-item-content-view i {
  position: absolute;
  color: rgb(255 255 255);
  opacity: 0.5;
  font-size: 23px;
}
#content-type-view .content-items .view-item {
  width: 50%;
  float: left;
}
.content-items .drawing-svg {
  height: 50px;
  top: 94px;
  left: 77px;
  position: absolute;
}
/* Color customize option*/
/* .checked:before {
  height: 10px;
  width: 23px;
  border-bottom: #ffffff solid 3px;
  border-left: #fffbfb solid 3px;
  content: "";
  display: block;
  transform: rotateZ(-40deg);
  -webkit-transform: rotateZ(-40deg);
  -ms-transform: rotateZ(-40deg);
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 1;
}
.checked:after {
  content: "";
  background-color: #ffffff7a;
  border: 1px solid white;
  width: 40px;
  height: 38px;
  position: absolute;
  top: 2px;
  left: 5px;
  border-radius: 62px;
} */
#colors .color-items .color-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}
#colors .color-items .color-item {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  margin: 2px;
}
#colors .color-items .color-item input {
  cursor: pointer;
}
#colors .color-items .color-item:first-of-type {
  background-color: #59899F;
}
#colors .color-items .color-item:nth-of-type(2) {
  background-color: #FE4E3C;
}
#colors .color-items .color-item:nth-of-type(3) {
  background-color: #DC2014;
}
#colors .color-items .color-item:nth-of-type(4) {
  background-color: #FD692B;
}
#colors .color-items .color-item:nth-of-type(5) {
  background-color: #EFBF01;
}
#colors .color-items .color-item:nth-of-type(6) {
  background-color: #72963F;
}
#colors .color-items .color-item:nth-of-type(7) {
  background-color: #AB5850;
}
#colors .color-items .color-item:nth-of-type(8){
  background-color: #F1D689;
}
#colors .color-items .color-item:last-of-type {
  background-color: #521B07;
}

/* text and Logo Customize option */
/* text */
#content-output[type="text"]:focus,
#content-output[type="file"]:focus {
  border-color: #bd9371;
  outline: 0;
  box-shadow: 1px 1px 0px 0.2rem #ffc2906b;
}
#content-output[type="text"],
#content-output[type="text"]::placeholder {
  color: #bd9371;
  border-color: rgb(189, 147, 113);
}
/* fi;e */
#content-output[type="file"] {
  height: 125px;
  width: 139px;
  position: relative;
  cursor: pointer;
  border-color: rgb(189, 147, 113);
}
#content-output[type="file"]:after {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(189, 147, 113);
  background-color: white;
  padding-top: 31px;
}
.add-your-logo[type="file"]:after{
  
  content: "Your Logo";

}
.add-your-photo[type="file"]:after{
  
  content: "Your Photo";

}
#content-output[type="file"]:before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(189, 147, 113);
  z-index: 1;
  width: 100%;
  height: 74%;
  font-size: 2rem;
  font-weight: bold;
}
/* submit button */
.done button {
  transition: all 0.5s 0.1s ease-in-out;
  -webkit-transition: all 0.5s 0.1s ease-in-out;
  -moz-transition: all 0.5s 0.1s ease-in-out;
  -ms-transition: all 0.5s 0.1s ease-in-out;
  -o-transition: all 0.5s 0.1s ease-in-out;
  width: 195px;
  height: 53px;
  color: white;
  background-color: #4b4360;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding-bottom: 4px;
  border: none;
}
.done button:hover {
  transition: all 0.5s 0.1s ease-in-out;
  -webkit-transition: all 0.5s 0.1s ease-in-out;
  -moz-transition: all 0.5s 0.1s ease-in-out;
  -ms-transition: all 0.5s 0.1s ease-in-out;
  -o-transition: all 0.5s 0.1s ease-in-out;
  opacity: 0.8;
}
/* end customize options */
/* start img Printer  */
.img-printer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-printer .blend-mode-item {
  width: 50%;
  height:50%;
  background-size: cover;
  background-color: #fdeec3;
  background-blend-mode: multiply;

}
/* end img Printer  */
@media (max-width: 1024px) {
  #content-type-view .customize-shape-item-content-view {
    top: 43px !important;
    left: 71px !important;
  }
  ul.drawing-filter-list {
    overflow: auto !important;
    white-space: nowrap;
    padding-bottom: 15px;
    margin-bottom: 16px !important;
  }
  ul.drawing-filter-list li {
    display: inline-block !important;
    float: unset !important;
  }
  .card-body {
    padding: 18px !important;
  }
  div#filter-drawing {
    white-space: nowrap;
  }
  .drawing-item {
    width: 29% !important;
    max-width: 83px !important;
    float: unset !important;
    display: inline-block !important;
  }
  ::-webkit-scrollbar {
    height: 4px;
  }
}
@media (max-width: 768px) {
  #content-type-view .customize-shape-item-content-view {
    top: 76px !important;
    left: 127px !important;
  }
  #content-type-view .content-items .view-item {
    width: 100% !important;
  }
}
@media (max-width: 425px) {
  #content-type-view .customize-shape-item-content-view {
    width: 74px !important;
    height: 66px !important;
    top: 30px !important;
    left: 64px !important;
  }
  .order-last-mobile {
    order: 1 !important;
  }
}
@media (max-width: 320px) {
  #content-type-view .customize-shape-item-content-view {
    width: 74px !important;
    height: 66px !important;
    top: 22px !important;
    left: 53px !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(108 117 125);
}




.custom-design-how-to{
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
}
.custom-design-how-to h1{
  color: #343434;
    font-family: firasans-black;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 9px;
}
.custom-design-how-to .custom-design-how-to-desc .content{
  color: #949494;
  font-size: 16px;
  line-height: 27px;
  padding: 0px 0px 20px;
}
.custom-design-how-to-card{
  padding-top: 33px;
}
.custom-design-how-to-card img{
  width: 147px;
  margin: auto 30px;
  float: left;
}
.custom-design-how-to-card h4{
  color: #343434;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
    font-family: firasans-black;
    line-height: 1;
    text-transform: none;
}
.custom-design-how-to-card .content{
    color: #949494;
    font-size: 16px;
    line-height: 27px;
    padding: 0px 0px 20px;
}
.custom-design-how-to-card button{
  color: #BD9371;
  background-color: transparent;
  border: 1px solid #BD9371;
  border-radius: 3px;
  padding: 10px 30px;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all .5s ease;
  outline: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
.custom-design-how-to-card button:hover{
  color: white;
  background-color: #BD9371;
  border: 1px solid #BD9371;
  border-radius: 3px;
  padding: 10px 30px;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all .5s ease;
  outline: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}
