
.wrapper {
    height: 364px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
    transform: scale(1);
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.wrapper a {
    color:initial
}
.wrapper a:hover {
    color:initial
}
.wrapper .top {
    height: 80%;
    width: 100%;
}
.wrapper .bottom {
    width: 200%;
    height: 20%;
    transition: transform 0.5s;
}
.wrapper .bottom.clicked {
    transform: translateX(-50%);
}
.wrapper .bottom h1 {
    margin: 0;
    padding: 0;
}
.wrapper .bottom p {
    margin: 0;
    padding: 0;
}
.wrapper .bottom .left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}
.wrapper .bottom .left .details {
    padding: 20px;
    float: left;
    width: calc(70% - 40px);
    background: white;
}
.wrapper .bottom .left .buy {
    float: right;
    width: calc(30% - 2px);
    height: 100%;
    background: #f1f1f1;
    transition: background 0.5s;
    border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .bottom .left .buy i {
    font-size: 30px;
    padding: 30px;
    color: #254053;
    transition: transform 0.5s;
}
.wrapper .bottom .left .buy:hover {
    background: #a6cdde;
}
.wrapper .bottom .left .buy:hover i {
    transform: translateY(5px);
    color: #00394b;
}
.wrapper .bottom .right {
    width: 50%;
    background: #a6cdde;
    color: white;
    float: right;
    height: 200%;
    overflow: hidden;
}
.wrapper .bottom .right .details {
    padding: 20px;
    float: right;
    width: calc(70% - 40px);
}
.wrapper .bottom .right .done {
    width: calc(30% - 2px);
    float: left;
    transition: transform 0.5s;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
}
.wrapper .bottom .right .done i {
    font-size: 30px;
    padding: 30px;
    color: white;
}
.wrapper .bottom .right .remove {
    width: calc(30% - 1px);
    clear: both;
    border-right: solid thin rgba(255, 255, 255, 0.3);
    height: 50%;
    background: #bc3b59;
    transition: transform 0.5s, background 0.5s;
}
.wrapper .bottom .right .remove:hover {
    background: #9b2847;
}
.wrapper .bottom .right .remove:hover i {
    transform: translateY(5px);
}
.wrapper .bottom .right .remove i {
    transition: transform 0.5s;
    font-size: 30px;
    padding: 30px;
    color: white;
}
.wrapper .bottom .right:hover .remove, .wrapper .bottom .right:hover .done {
    transform: translateY(-100%);
}
.wrapper .inside {
    z-index: 9;
    background: #ffffff00;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.wrapper .inside .icon {
    position: absolute;
    right: 85px;
    top: 85px;
    font-size: 24px;
    color: #909090;
    opacity: 1;
}
.wrapper .inside:hover {
    background-color: white;
    width:100%;
      right:0;
      top:0;
      border-radius: 0;
      height:70%;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    
}
.wrapper .inside:hover .icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}
.wrapper .inside:hover .contents {
    
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
    width: 100%;
    
}
.wrapper .inside .contents {
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
}
.wrapper .inside .contents table {
    text-align: left;
}
.wrapper .inside .contents table tr{
    display: block;
    padding:5px 0;
}
.wrapper .inside .contents table tr th ,.wrapper .inside .contents table tr td{
    width: 45%;
    display: inline-block;
}
.wrapper .inside .contents table tr td{
    width: 45%;
    display: inline-block;
    padding-left: 35px!important;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
    color: black;
}
.wrapper .inside .contents p {
    font-size: 13px;
}
