.details-container{
    direction       : rtl;
    text-align      : right;
}
span.favorite{
    right           : auto;
    left            : 22px;
}
.nutration-facts{
    float: left;
}
.nutrition-facts{
    text-align      : left!important;
}
.quantity-count{
    direction       : ltr;
}
select.product-quantity-type{
    padding-left    : 0;
}
.product-img-Zoom{
    direction       : ltr;
}
.order-list{
    direction       : rtl;
    text-align      : right;
}
button.submit-btn {
    right           : auto!important;
    left            : 13px!important;
}
.rating-form-and-comments{
    direction       :rtl;
    text-align      : right ;
}
.rating-group{
    display         : flex!important;
    justify-content : flex-end;  
}
.progress-group{
    direction       : rtl;
}
@media (max-width:375px){
    .nutrition-facts{
        text-align  : right!important;
    } 
}
@media (max-width: 320px){
    .nutration-facts{
        float       : right!important;
        margin      : .4rem 0!important;
    }
}