span img.customer-image{
    width           : 50px;
    border-radius   : 53px;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
}
span.customer-info {
    display         : block;
    font-weight     : bold;
    font-size       : 1.2rem;
    color           : #bd9371;
}
.customer-rate {
    font-size       : 1rem;
    padding-right   : 9px;
}
span.comment-date {
    display         : block;
    color           : #8a7e7e87;
}
.comment-action ul li a {
    color           : black;
    text-decoration : none;
}
.comment-action ul li a:hover {
    color           : #d4a171;
}
.comment-action ul li {
    float           : left;
    padding         : 8px;
}
.comment-action ul {
    list-style-type : none;
    margin          : 0;
    float           : left;
    width           : 100%;
    padding         : 0;
}